[submodule "px4_msgs"]
	path = px4_msgs
	url = https://github.com/PX4/px4_msgs.git
[submodule "px4_ros_com"]
	path = px4_ros_com
	url = https://github.com/PX4/px4_ros_com.git
[submodule "joystick_ros2"]
	path = joystick_ros2
	url = https://github.com/FurqanHabibi/joystick_ros2
